# Python virtual environments
venv/
deployment_env/
env/
.env/
new_env/
myenv/
entity_responses/
credentials.json
code_chunks_vector_store/
vector_stores/
test/


# Jupyter Notebook files
*.ipynb


# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local configurations
.env
.vscode/
.idea/

# Log files
*.log
app_new_Claude.py
app_new_Claude2.py
*SAFE*.py
*.pkl
